@import "compass/reset";
@import "setting";

/* style.scss */
/*color*/

*{	
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
body {
	font-family:$sans_serif;
}
.clear{
	clear:both;
}


